<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Add a New Food to Your Pantry</h1>
  <p>Fill out the form to add a new food to your pantry</p>
  <form action="/users/:userId/foods" method="POST">
    <label style="display: block" for="food">Food:</label>
    <input type="text" name="food" id="food" required />
    <input style="display: block" type="submit" value="Submit">
  </form>
</body>

</html>